allow system_app sysfs_zram:dir { search };
allow system_app sysfs_zram:file { read };
allow system_app sysfs_zram:file { open };
allow system_app sysfs_zram:file { getattr };
